<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"  version="2.5">
    <!-- cron jobs -->
    <servlet>
        <servlet-name>QuoteCron</servlet-name>
        <servlet-class>vlc.bl.cron.QuoteCron</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>QuoteCron</servlet-name>
        <url-pattern>/cron/quote</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ActivityCron</servlet-name>
        <servlet-class>vlc.bl.cron.ActivityCron</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ActivityCron</servlet-name>
        <url-pattern>/cron/activity</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ReceiptCron</servlet-name>
        <servlet-class>vlc.bl.cron.ReceiptCron</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReceiptCron</servlet-name>
        <url-pattern>/cron/receipt</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>LocalDatabaseCron</servlet-name>
        <servlet-class>vlc.bl.cron.LocalDatabaseCron</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LocalDatabaseCron</servlet-name>
        <url-pattern>/cron/database</url-pattern>
    </servlet-mapping>
</web-app>
